{% set title = "Account Information" %}  
{% extends 'base.html' %}  
  
{% block content %}  
    <h2>Account Information</h2>  
  
    <h3>Profile Account Information</h3>  
    <p><strong>Username:</strong> {{ username }}</p>  
    <p><strong>Email:</strong> {{ email }}</p>  
    <p><strong>Account Created:</strong> {{ creation_date }}</p>  
  
    <br>  
  
    <h3>Bio</h3>  
    <form method="POST" action="{{ url_for('account') }}">  
        <textarea name="bio" rows="4" cols="50">{{ bio }}</textarea>  
        <br>  
        <button type="submit">Save Bio</button>  
    </form>  
    <br>  
  
    <h3>Profile Actions</h3>  
    <ul>  
        <li><a href="{{ url_for('account') }}">Edit Account</a></li>  
    </ul>  

    <h3>Log Out</h3>  
    
{% endblock %}  
