<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog Home</title>
    </head>
    <body>
        <header>
            <h1>Blog with Flask</h1>
            <nav class="navbar">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Create Post</a></li>
                    <li><a href="">Stats</a></li>
                </ul>
            </nav>
        </header>
        <main>
            Blog posts to appear here soon
        </main>
    </body>
    </html>
